@font-face {
    font-family: 'YourHandwrittenFont';
    src: url('Fonts/Soulgate-d9pyX.otf') format('truetype');
         font-weight: normal;
    font-style: normal;
}
  
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:black; 
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


h1 {
    font-size: 1.8em;
    text-shadow: #333333 0px 3px 5px;
    margin: 10%;
    text-decoration:underline cadetblue;
    
}

.illuminate {
  text-decoration: underline rgb(0, 255, 153); 

}

.tagline {
    margin-top: 30px;
    
}

#arrowTagline {
    margin: 20%;
}

#one {
    background-image: url("pexels-alessandra-20449164(2).webp");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#two {
    background-image: url("pexels-polina-tankilevitch-3735625(1)-1.webp");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

   
    
}

#three {
    background-image: url("pexels-artem-podrez-8532836(1).webp");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

   
}

#four {
    background-image: url("pexels-tom-fisk-5992512(1).webp");
    display: flex;
    flex-direction: column;
    justify-content:center;

}

#five {
    background-image: url("shea-butter-03.jpg");
    background-position: 60% 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#six {
    background-image: url("pexels-monstera-production-6620855-1.webp");
    background-position: 60% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#seven {
    background-image: url("pexels-solodsha-8105066 (1).jpg");
    background-position: 80% 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#eco {
    margin-bottom: 20%;
}
/*.parallax-image {
 background-image: url('pexels-alessandra-20449164(1).webp');
  background-size: cover;

  background-position: center;
  height: 100vh;
background-attachment: fixed;
} */ 




/* Base styles */
* {
    box-sizing: border-box;
}


/* Card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

/* Card style */
.card {
    background-color: #239ebd81;
   
    border-radius: 8px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.34);
    overflow: hidden;
    margin: 8px;

    width: calc(100% - 32px); /* Full width on mobile */
    max-width: 340px; /* Max card width */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 3px 2px 3px  rgb(4, 73, 152);
   

}


.card {

    transition: 0.6s;
    -webkit-filter: drop-shadow(8px 8px 10px black); filter: drop-shadow(8px 8px 10px black);




}


/* Card content */
.card-content {
    padding: 16px;
}

/* Card title */
.card-title {
    font-size: 20px;
    font-family: ;
    font-weight: bold;
    margin-bottom: 8px;
    color: aquamarine;
    text-shadow: #333333 3px 3px 3px;
}

/* Card text */
.card-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #333333 1px 1px 6px;
 
}


header { 

    position: fixed; 
    margin-top: 0%;
    width: 100%;
    top: 0;  
    background: rgba(25, 24, 24, 0.5);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000; 
    display: flex; 
    justify-content: center; }

.header-title { font-size: 30px; 
    font-family: YourHandWrittenFont;
    font-weight: bold; 
    margin-bottom: 8px; 
    color: rgba(33, 246, 236, 0.642); 
    text-shadow: #333333 3px 3px 3px;

}

/* Card hover effect */ 

.card-text:hover, .card-text:active { -webkit-filter: blur(0px);filter: blur(0px); 

}


.card:hover, .card:active { transform: translateY(-6px); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); scale: 1.1; transition: ease-in-out .6s;
}

#demo { text-align: center; text-shadow: #333333 3px 4px 2px; margin: 10%; color: aliceblue; font-weight: 800; }

#arrow { scale: 0.04; position: absolute;margin: 20%; margin-top: -64%;  transform: rotate(90deg);}

